{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<script>
  
  // Lecture des variables envoyees par symfony 

  let matriculeJs= {{matricule|json_encode|raw}};
 
  let anneeJs= {{annee|json_encode|raw}};
 
</script>

          {% if app.user %}
          <div class="appBar">
              <div  class="message">
              <p  class="font-weight-bold" >Bienvenue:  {{ app.user.userName }}</p>
              </div>
              <div  class="matricule">
                <p  class="font-weight-bold" >Matricule :  {{ matricule }}</p>
              </div>
              <div  class="annee">
                <p  class="font-weight-bold" >Annee :  {{ annee }}</p>
              </div>
              <div  class="nbrpages">
                <p  class="font-weight-bold" >Nombre de pages :  {{ nbrPages }}</p>
              </div>
          <div class="deconnexion">  
           
          <a href="{{ path('app_logout') }}" class="btn btn-warning">Deconnexion</a>
          </div>
          
          </div>

          {% endif %}

<div class="global">
        <div class="left d-4">
          <canvas id="pdf-canvas"></canvas>
        </div>
        <div  class="right" >

                        <div class="table-responsive ">
                              <table id="sample_data" class="table table-bordered table-striped  ">
                                  <thead>
                                    <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Label</th>
                                    <th>Notes</th>
                                    <th>Annee n</th>
                                    <th>Annee n-1</th>
                                    <th>Type page</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                              </table>
            
          
                        </div>  
            
       </div>

</div>       
{% endblock %}
