{% extends 'base.html.twig' %}

{% block title %} Application Ocr Etats financiers {% endblock %}

{% block body %}

          {% if app.user %}
          <div class="appBar">
              <div  class="message">
                <span class="badge badge-warning">Bienvenue:  {{ app.user.userName }}</span>
              </div>
              <div  class="matricule">
                <span class="badge badge-dark">Matricule :  {{ app.session.get('matricule') }}</span>
              </div>
              <div  class="annee">
                <span class="badge badge-info">Annee :  {{ app.session.get('annee') }}</span>
              </div>
              
              <div  class="nbrpages">
                <span class="badge badge-secondary">Total des pages :  {{ app.session.get('nbrPages') }}</span>
              </div>
              

              <div class="update">
              {% include "OCR/update_type_page.html.twig" %} 
            </div>
          <div class="deconnexion">  
           
          <a href="{{ path('app_logout') }}" class="btn btn-warning">Deconnexion</a>
          </div>
          
          </div>

          {% endif %}

<div class="global">
        <div class="left d-4">
          
          <canvas id="pdf-canvas"></canvas>
        </div>
        <div  class="right" >
      <div class="page_nav">
        
        <div  class="pages-cours">
          <span class="badge badge-success">Page en cours : {{ app.session.get('pageEnCours') }}</span>
        </div>
          {% if  app.session.get('pageEnCoursIndex') == 0  %}

           <a href="{{path('get_page_precedente')}}" class="btn btn-primary disabled">precedent</a>

           {% else %}

           <a href="{{path('get_page_precedente')}}" class="btn btn-primary">precedent</a>


           {% endif %}
           {% if  app.session.get('nbrPages')-1  ==  app.session.get('pageEnCoursIndex')  %}

           <a href="{{path('get_page_suivante')}}" class="btn btn-primary disabled">Suivant</a>

           {% else %}

           <a href="{{path('get_page_suivante')}}" class="btn btn-primary">Suivant</a>


           {% endif %}

          

       </div>
                        <div class="table-responsive ">
                              <table id="sample_data" class="table table-bordered table-striped  ">
                                  <thead>
                                    <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Label</th>
                                    <th>Notes</th>
                                    <th>Annee n</th>
                                    <th>Annee n-1</th>
                                    <th>Type page</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                              </table>
            
          
                        </div>  
            
       </div>

</div>       
{% endblock %}
